body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 50vw;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
